# Applied Data Science Capstone with Coordinates

## Libraries importing

In [1]:
import pandas as pd
import numpy as np

## Data importing

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_list = pd.read_html(url, index_col = None, header = 0)
df_codes = df_list[0]
df_codes

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

## Data preprocessing

In [3]:
df_codes = df_codes[(df_codes.Borough != "Not assigned")]
df_codes = df_codes.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(','.join).drop_duplicates().reset_index()
df_codes.loc[df_codes['Neighbourhood'] == "Not assigned", 'Neighbourhood'] = df_codes['Borough']
df_codes

   Postal Code      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
94         M9N         York                                             Weston
95         M9P    Etobicoke                                          Westmount
96         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
97         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
98         M9W    Etobicoke                Northwest, West Humber - Clairville

[99 rows x 3 columns]

In [4]:
df_coorinates = pd.read_csv('https://cocl.us/Geospatial_data', index_col = None, header = 0)
df_coorinates

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [11]:
result = pd.merge(df_codes, df_coorinates, on = 'Postal Code')
result

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
94,M9N,York,Weston,43.706876,-79.518188
95,M9P,Etobicoke,Westmount,43.696319,-79.532242
96,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
97,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
98,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

## Result

In [12]:
result

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
94,M9N,York,Weston,43.706876,-79.518188
95,M9P,Etobicoke,Westmount,43.696319,-79.532242
96,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
97,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
98,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054